

$color-white: #ffffff;
$color-gray-light-1: #d7d5d2;
$color-gray-light-2: #ebebeb;
$color-gray-dark-1: #acb9c8;
$color-gray-dark-2: #747474;
$color-green-dark-1: #879f8a;
$color-green-light-1: #21992f;
$color-brown-dark-1: #524633;
$color-brown-dark-2: #a36732;
$color-brown-light-1: #cc9c5c;
$color-brown-light-2: #e0bd8a;
$color-footer: #262425;
$color-black: #000000;

$font-playfair: 'Playfair Display', serif; 
$font-poppins: 'Poppins', sans-serif;
$font-lobster: 'Lobster', cursive;
$font-redressed: 'Redressed', cursive;
$font-the-nautigal: 'The Nautigal', cursive;
