.footer {
    background-color: $color-footer;
    grid-column: full-start / full-end;
    padding: 4rem 15rem 1rem 15rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1rem;
    }

    &__link {
        color: $color-gray-dark-2;
        font-size: 1.6rem;
        transition: all .2s;

        &:hover {
            color: $color-gray-dark-1;
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        padding: 2rem 0;
        margin-top: 4rem;
        border-top: .1px solid $color-gray-dark-2;
        color: $color-white;

        @include respond(phone) {
            flex-direction: column;
        }
        &--logo {
            font-size: 3rem;
            font-family: $font-poppins;
        }

        &--text {
            margin-right: auto;
            margin-left: 1rem;
            font-size: 1.5rem;

            @include respond(phone) {
                margin-right: 0;
            }   
        }

        &--social {
            color: $color-gray-dark-2;
            i {
                font-size: 1.6rem;
                margin: 0 .5rem;
                cursor: pointer;
                transition: all .4s;

                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}