*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; // 1rem => 10px

    @include respond(big-desktop) {
        font-size: 100%; //1rem = 16px
    }

    @include respond(Desktop) {
        font-size: 50%; //1rem = 8px
    }

    @include respond(laptop) {
        font-size: 43.75%; //1rem = 7px
    }
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

.mainpage__container {
    display: grid;
    grid-template-rows: 8rem 100vh repeat(2, min-content) 35vw repeat(2, min-content) 35vw min-content;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: $color-gray-light-2;

    @include respond(tablet) {
        grid-template-rows: 5rem calc(100vh - 5rem) repeat(2, min-content) 40vw repeat(2, min-content) 50vw repeat(2, min-content);
    }

    @include respond(smallphone) {
        grid-template-rows: 5rem calc(100vh - 5rem) repeat(2, min-content) 70vw repeat(2, min-content) 80vw repeat(2, min-content);
    }
}

.roomlisting__container {
    display: grid;
    grid-template-rows: 8rem calc(100vh - 18rem) repeat(3, 40vw) repeat(2, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: $color-gray-light-2;
    row-gap: 10rem;

    @include respond(big-desktop) {
        grid-template-rows: 8rem calc(100vh - 18rem) repeat(3, 45vw) repeat(2, min-content);
    }

    @include respond(tablet) {
        grid-template-rows: 8rem calc(100vh - 8rem) repeat(3, min-content 50vw) repeat(2, min-content);
        row-gap: 0;
    }

    @include respond(phone) {
        grid-template-rows: 8rem calc(100vh - 8rem) repeat(3, min-content 80vw) repeat(2, min-content);
        row-gap: 0;
    }
}

.roomdetails__container {
    display: grid;
    grid-template-rows: 8rem calc(100vh - 8rem) repeat(4, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: $color-gray-light-2;
}

.reservation__container {
    display: grid;
    grid-template-rows: 8rem calc(100vh - 8rem) repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: $color-gray-light-2;
}

.aboutus__container {
    display: grid;
    grid-template-rows: 8rem calc(100vh - 8rem) repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
    background-color: $color-gray-light-2;
}