.header {
    &__primery {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-gray-dark-1;
        word-spacing: 4px;
        letter-spacing: 1.5px;
    }

    &__secondary {
        margin: 1.8rem 0 3rem 0;
        font-size: 3.2rem;
        font-weight: 700;
        font-family: $font-poppins;
    }
}