.u-mb-smaller {margin-bottom: 1rem;}
.u-mb-small {margin-bottom: 2rem;}
.u-mb-medium {margin-bottom: 4rem;}
.u-mb-large {margin-bottom: 6rem;}
.u-mb-larger {margin-bottom: 8rem;}
.u-available {color: green;}
.u-unavailable {color: red;}
.u-wink {
    animation: wink 1s infinite;
    animation-direction: alternate-reverse;
}