.availableroom {
    grid-column: col-start 3 / col-end 10;
    margin: 10rem 0;

    &__boxes {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-row-gap: 2rem;
    }

    &__box {
        background-color: $color-white;
        display: grid;
        grid-template-columns: min-content 1fr;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .5);

        &--form {
            select {
                background-color: transparent;
                border: none;
                width: 3.5rem;
                border-bottom: 3px solid $color-gray-light-1;
            }

            label {
                font-size: 1.6rem;
            }
        }

        &--content {
            display: flex;
            padding: 2rem;

            &-left {
                margin-right: auto;

                h2 {
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }

        &--img {
            width: 20rem;
            height: 100%;
        }
    }
}

.overview {
    background-color: aqua;
    grid-column: col-start 2 / col-end 11;
}

.confirm {
    background-color: powderblue;
    grid-column: col-start 2 / col-end 11;
    margin: 10rem 0;
}