.availableroom {
    background-color: red;
    grid-column: center-start / center-end;
}

.overview {
    background-color: aqua;
    grid-column: center-start / center-end;
}

.confirm {
    background-color: powderblue;
    grid-column: center-start / center-end;
}