.test {
    &-roomlisting__card--content {
        &-1 {
            background-color: red;
            grid-column: full-start / col-end 7;
        }
    }
}

.roomlisting {
    &__card {
        &--content {
            &-1 {
                background-color: $color-white;
                grid-column: full-start / col-end 6;
                padding: 6rem 8vw;
                display: grid;
                align-content: center;
                justify-items: start;
            }

            &-2 {
                background-color: $color-white;
                grid-column: col-start 7/ full-end;
                padding: 6rem 8vw;
                display: grid;
                text-align: right;
                align-content: center;
                justify-items: end;
            }

            &-3 {
                background-color: $color-white;
                grid-column: full-start / col-end 6;
                padding: 6rem 8vw;
                display: grid;
                align-content: center;
                justify-items: start;
            }
        }

        &--img {
            &-1 {
                background-image: url(../img/ourrooms-card3.jpg);
                background-position: center;
                background-size: cover;
                grid-column: col-start 7 / full-end;
            }

            &-2 {
                background-image: url(../img/ourrooms-card2.jpg);
                background-position: center;
                background-size: cover;
                grid-column: full-start / col-end 6;
            }

            &-3 {
                background-image: url(../img/ourrooms-card1.jpg);
                background-position: center;
                background-size: cover;
                grid-column: col-start 7 / full-end;
            }
        }

        &--review {
            display: flex;
            align-items: center;
            font-size: 1.8rem;

            h5 {
                color: $color-gray-dark-2;
            }
            
            & > * {
                margin: 0 .2rem;
            }
        }

        &--header {
            font-size: 3.5rem;
            font-family: $font-poppins;
        }

        &--price {
            &-1 {
                color: $color-gray-dark-2;
            }

            &-2 {
                font-size: 2.5rem;
                color: red;
            }

            &-3 {
                font-size: 1.4rem;
            }
        }

        &--paragraph {
            font-size: 1.4rem;
            color: $color-brown-dark-2;
        }

        &--status {
            div {
                font-size: 1.5rem;
                margin-bottom: .5rem;

                span {
                    &:first-child {
                        color: $color-gray-dark-2;
                    }
                }
            }
        }

        &--button {
            font-size: 1.5rem;
            color: $color-black;
            padding: .5rem;

            &:hover {
                background-color: $color-brown-dark-2;
                color: $color-white;
            }
        }

    }

    &__btn {
        grid-column: 7 / 9;
        justify-self: center;
    }
}
