.roomdetails {
    &__description {
        background-color: olive;
        grid-column: full-start / full-end;
    }

    &__related {
        background-color: orange;
        grid-column: center-start / center-end;
    }

    &__slider {
            background-color: aqua;
            grid-column: center-start / center-end;
    }
}